<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Список товаров</title>
</head>

<body>
    <h1>Список товаров</h1>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Поставщик</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product=> { %>
                <tr>
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.price.toFixed(2) %>
                    </td>
                    <td>
                        <%= product.Category.name %>
                    </td>
                    <td>
                        <%= product.Supplier.name %>
                    </td>
                    <td>
                        <form method="POST" action="/delete-product/<%= product.id %>" style="display:inline;">
                            <button type="submit">Удалить</button>
                        </form>
                        <button onclick="window.location.href='/product/<%= product.id %>'">Редактировать</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <button onclick="window.location.href='/product'">Добавить товар</button>
</body>

</html>